[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=0.12.3"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pyberny"
version = "0.0.0"
description = "Molecular/crystal structure optimizer"
readme = "README.md"
authors = ["Jan Hermann <dev@jan.hermann.name>"]
repository = "https://github.com/jhrmnn/pyberny"
documentation = "https://jhrmnn.github.io/pyberny"
license = "MPL-2.0"
packages = [
    { include = "berny", from = "src" },
]
classifiers = [
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Operating System :: POSIX",
    "Topic :: Scientific/Engineering :: Chemistry",
    "Topic :: Scientific/Engineering :: Physics",
]

[tool.poetry.dependencies]
python = "^3.6"
numpy = "^1.15"

[tool.poetry.extras]
test = ["pytest", "coverage"]
doc = ["sphinx", "sphinxcontrib-katex", "toml"]

[tool.poetry.dev-dependencies]
flake8 = "^3.5"
flake8-bugbear = { version = ">=18.8", python = "^3.6" }
flake8-comprehensions = ">=1.4"
flake8-quotes = "^2"
black = { version = ">=20-beta.0", python = "^3.6" }
pep8-naming = ">=0.7"
isort = { version = "^5", python = "^3.6" }
pydocstyle = ">=5"
pytest = { version = "^3.6" }
coverage = { version = "^4.5" }
sphinx = { version = "^2.2" }
sphinxcontrib-katex = { version = "^0.5.1" }
toml = { version = "^0.10.0" }

[tool.poetry.scripts]
berny = "berny.cli:main"

[tool.poetry-dynamic-versioning]
enable = true
dirty = true
pattern = '^(?P<base>\d+\.\d+\.\d+)$'

[tool.black]
target-version = ["py36"]
skip-string-normalization = true
